<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MÉTODO CRUD</title>
</head>

    <body>
        <h2>DADOS CAPTURADOS DA QUERY STRING</h2>
        <div> Nome de usuário cadastrado é: <strong> <%=dadosContato.nome%> </strong> </div>
        <div> E-mail de usuário cadastrado é: <strong> <%=dadosContato.email%> </strong> </div>

        <br>
        <button><a href="/"> Voltar</a> </button>

    </body>

</html>