<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MÉTODO CRUD</title>
</head>

    <body>
        <h2>MÉTODO CRUD EXERCICIO PRÁTICO</h2>
        <div><a href="/metodo_get">MÉTODO GET</a></div>
        <br>
        <div><a href="/metodo_post">MÉTODO POST</a></div>
        <br>
        <div><a href="/metodo_put">MÉTODO PUT</a></div>
        <br>
        <div><a href="/metodo_delete">MÉTODO DELETE</a></div>
        <br>
        <div><a href="/testeError404">TESTE ERRO 404 (Página não encontrada)</a></div>
        <br>

    </body>

</html>