<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MÉTODO CRUD</title>
</head>

    <body>
        <h2> MÉTODO DELETE - EXCLUSÃO DE USUÁRIO E SENHA</h2>

        <form action="/metodo_delete?_method=DELETE" method="post">
            
            <p>Informe o nome de usuário para <u>DELETAR:</u></p>
            <input type="text" name="usuarioDeletar">
            
            <button type="submit"> Enviar</button>
        </form>

        <br>
        <button><a href="/"> Voltar</a></button>

        <h3>Verifique qual o usuário para <u>DELETAR</u>:</h3>

        </form>

        <% for( let dados of dadosUsuario) { %>
            <div> <strong> Usuário: </strong> <%= dados.nome %> </div>
            <div> <strong> Senha: </strong> <%= dados.password %> </div>
            <div>----------------------------</div>
        <% } %>

    </body>

</html>