<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MÉTODO CRUD</title>
</head>

    <body>
        <h2>MÉTODO GET - SOLICITACAO DE DADOS VIA URL</h2>
        <form action="/metodo_registro_contato" method="get">
            Nome: <input type="text" name="nome">
            <br>
            <br>
            E-mail: <input type="e-mail" name="email">
            <button type="submit">Enviar</button>
        </form>

        <br>
        <button><a href="/"> Voltar</a></button>

    </body>

</html>