<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MÉTODO CRUD</title>
</head>

    <body>
        <h2>Usuário DELETADO com sucesso!</h2>

        <p>Usuário deletado foi: <strong> <%= usuario.nome %> </strong>  </p>
        <p>Senha deletada foi:  <strong> <%= usuario.password %> </strong> </p>

        <button><a href="/"> Voltar</a></button>
        
    </body>
</html>